* {
  color: var(--cl-text);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/13fbc2f1-85a8-42d9-b784-8b2f13d08efd.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-grey);
}

h2 {
  color: var(--cl-title);
}

.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cl-text);
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
}

.input-group {
  position: relative;
  margin: 20px 0;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--cl-text);
  pointer-events: none;
  transition: 0.5s;
  background: transparent;
}

.input-group input {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--cl-text);
  outline: none;
  color: var(--cl-text);
}

.input-group input:focus ~ label {
  top: 0;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--cl-title);
  backdrop-filter: blur(10px);
}

input:focus {
  transition: 0.5s;
  border: 1px solid var(--cl-title);
}

.login-btn,
.register-btn {
  all: unset;
  display: flex;
  margin: 20px auto 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--cl-title);
  background: var(--cl-title);
  color: var(--cl-text);
}

.login-btn:hover,
.register-btn:hover {
  background: none;
  transition: 0.5s;
}

.login-container a,
.register-container a {
  color: var(--cl-title);
  text-decoration: underline;
}

.login-container a:hover,
.register-container a:hover {
  text-decoration: none;
}

.form-toggle-buttons {
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.form-toggle-buttons button {
  all: unset;
  padding: 5px;

  cursor: pointer;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

#btn-connexion:hover,
#btn-inscription:hover {
  color: var(--cl-title);
  transition: 0.2s;
}
