h1{
    text-align: center;
    color: var(--cl-title);
    margin-bottom: 50px;
}

/* .game-card{
    border: 1px solid var(--cl-title);
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card-content h4 {
    margin: 10px auto 40px;
    color: var(--cl-text);
}

.card-content a {
    color: var(--cl-text);
    border: 1px solid var(--cl-title);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.card-content a:hover{
    background: var(--cl-title);
}

.card-content img{
    height: 200px;
    width: 100px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}
.game-card {
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
  }

  .game-card:hover {
    box-shadow: 0 8px 16px 0 #4564ff6e;
  }

  .game-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .game-card-container {
    padding: 2px 16px;
    color: var(--cl-text);
  }

  .game-card-title {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
  }

  .game-card-button {
    color: var(--cl-title);
    padding: 10px 24px;
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--cl-title);
    transition: background-color 0.5s ease;
  }

  .game-card-button:hover {
    background-color: var(--cl-title);
    color: var(--cl-text);
    cursor: pointer;
  }