.container {
  display: flex;
  width: 70%;
  min-height: 100vh;
  margin: auto;
}

.container-right {
  flex: 1;
  padding: 0px 20px ;
}

.container-center {
  flex: 2;
}

.post-creation,
.time-line,
.tendances,
.suggestions {
  border: 1px solid var(--cl-text);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.post-creation,
.time-line,
.tendances,
.suggestions h2 {
  text-align: center;
  color: var(--cl-title);
}

.post-creation {
  min-height: 100px;
  position: relative;
}

.time-line {
  min-height: 100vh;
}

.suggestions {
  min-height: 300px;
}

.tendances {
  min-height: 500px;
}

.search-box {
  position: relative;
  margin-bottom: 20px;
}


.search-input {
  padding-left: 40px;
  height: 35px;
  border: 1px solid var(--cl-text);
  border-radius: 10px;
  background: transparent;
  color: var(--cl-text);
  width: 100%;
}

.search-input:focus{
  border: 1px solid var(--cl-title) !important;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cl-text);
  font-size: 20px;
}

.post-input{
  width: 80%;
  min-height: 10px;
  background: transparent;
  border: none;
  color: white;
  resize: none;
  position: relative;
  margin-left: 30px;
  outline: none;
  overflow: hidden;
  margin-top: 10px;
}

.pp-post{
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  background-color: white;
  border-radius: 50%;
}

.post-btn{
  all: unset;
  padding: 5px 10px;
  background: var(--cl-title);
  cursor: pointer;
  border: 1px solid var(--cl-title);
  border-radius: 10px;
  margin-top: 5px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: var(--cl-text);
}

.post-btn:hover{
  transition: 0.3s ease;
  opacity: 0.7;
}

.post-options{
  display: inline-flex;
  gap: 5px;
  position: absolute;
  margin: 20px;
  bottom: -10px;
  left: 55px;
}

.post-options img{
  cursor: pointer;
}

.file-input {
  display: none;
}

@media screen and (max-width: 870px) {
  .container-right {
    display: none;
  }

  .container {
    width: 80%;
  }
}
