.container {
  display: flex;
  width: 70%;
  min-height: 100vh;
  margin: 40px auto 0px;
}

.container-right {
  flex: 1;
  padding: 0px 20px;
}

.container-center {
  flex: 2;
}

.post-creation,
.time-line,
.tendances,
.suggestions {
  border: 1px solid var(--cl-text);
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-creation,
.time-line,
.tendances,
.suggestions h2 {
  text-align: center;
  color: var(--cl-title);
  font-size: 20px;
  padding: 5px;
}

.post-creation {
  min-height: 100px;
  position: relative;
  padding: 10px;
}

.time-line {
  min-height: 100vh;
}

.suggestions {
  min-height: 300px;
}

.tendances {
  min-height: 500px;
}

.post-input {
  width: 80%;
  min-height: 10px;
  background: transparent;
  border: none;
  color: white;
  resize: none;
  position: relative;
  margin-left: 30px;
  outline: none;
  overflow: hidden;
  margin-top: 10px;
}

.pp-user {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  background-color: white;
  border-radius: 50%;
}

.post-btn {
  all: unset;
  padding: 5px 10px;
  background: var(--cl-title);
  cursor: pointer;
  border: 1px solid var(--cl-title);
  border-radius: 10px;
  margin-top: 5px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: var(--cl-text);
}

.post-btn:hover {
  transition: 0.3s ease;
  opacity: 0.7;
}

.post-options {
  display: inline-flex;
  gap: 5px;
  position: absolute;
  margin: 20px;
  bottom: -10px;
  left: 55px;
}

.post-options img {
  cursor: pointer;
}

.file-input {
  display: none;
}

.user-suggestion {
  position: relative;
  border: 1px solid var(--cl-text);
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 5px;
  color: var(--cl-text);
}

.user-info{
  display: flex;
  align-items: center;
  gap: 5px;
}

.pp-user-suggestion {
  height: 40px;
  width: 40px;
  left: 10px;
  background-color: white;
  border-radius: 50%;
}

.add-friend-btn{
  all: unset;
  color: var(--cl-text);
  background: var(--cl-title);
  border: 1px solid var(--cl-title);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.add-friend-btn:hover{
  background: none;
  transition: 0.5s;
}

@media screen and (max-width: 870px) {
  .container-right {
    display: none;
  }

  .container {
    width: 80%;
  }
}
