@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-grey: #323232;
    --white: white;
    --main-blue: #0934ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    /* color: var(--white); */
}

header{
    width: 100%;
    min-height: 50px;
    padding: 20px 0 0 50px;
    display: flex;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
}

.navbar a, .nav-item {
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
}

.navbar a:hover{
    background: rgba(255, 255, 255, 0.205);
    color: var(--main-blue);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 30px;
}

.dropdown-menu a:hover{
    background: none;
}

.dropdown-menu span {
    color: var(--main-blue);
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    padding: 12px 16px;
    display: block;
}

i{
    font-size: 25px;
    padding: 10px;
}
.logo{
    height: 50px;
    margin-right: 50px;
}

body{
    background: var(--main-grey);
}

.container {
    display: flex;
    width: 70%;
    min-height: 100vh;
    margin: auto;
}


.container-right {
    flex: 1;
    padding: 20px;
}

.container-center {
    flex: 2;
    padding: 20px;
}

.post-creation,
.time-line,
.tendances,
.suggestions {
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.post-creation,
.time-line,
.tendances,
.suggestions h2{
    text-align: center;
    color: var(--main-blue);
}

.post-creation {
    min-height: 200px;
}

.time-line {
    min-height: 600px;
}

.suggestions {
    min-height: 300px;
}

.tendances{
    min-height: 500px;
}

section {
    border: 1px solid #cecece;}












@media screen and (max-width: 768px){
    nav a span{
        display: none;
    }

    nav a {
        display: flex;
        /* gap: 20px; */
        padding: 5px 8px;
    }

    nav{
        gap: 20px;
    }
}