@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-grey: #323232;
  --cl-text: white;
  --cl-title: #4564ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

header {
  width: 100%;
  min-height: 50px;
  padding: 20px 0 20px 50px;
  display: flex;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--cl-text);
  gap: 30px;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: auto;
}

.navbar a,
.nav-item {
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0 10px;
  font-size: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cl-text);
  position: relative;
}

.navbar a:hover {
  color: var(--cl-title);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  min-width: 100%;
  min-height: 100px;
  top: 100%;
  background-color: rgb(255, 255, 255);
  color: #333;
  border-radius: 10px;
}

.dropdown-menu a {
  color: #333;
}
.all-forums {
  color: var(--cl-text);
  background-color: #4564ff;
}
.all-forums span{
  color: var(--cl-text);
}
.dropdown-menu a:hover {
  background-color: #4564ff;
  color: var(--cl-text);
  border-radius: 10px;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  padding: 12px 16px;
  display: block;
}

i {
  font-size: 25px;
  padding: 10px;
}
.logo {
  height: 50px;
}

body {
  background: var(--bg-grey);
}

.connexion-container {
  min-height: 300px;
  width: 30%;
  background-color: rgba(75, 75, 75);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cl-text);
}

.visible {
  display: block !important;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(5px);
}

.connexion-container h2 {
  text-align: center;
}
.connexion-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.connexion-form input {
  padding: 10px;
  background: transparent;
  border: 1px solid var(--cl-title);
  border-radius: 10px;
  color: var(--cl-text);
}

.btn-submit {
  color: var(--cl-text);
}

.btn-submit:hover {
  background: var(--cl-title);
  cursor: pointer;
}

.close-icon {
  /* TODO : Js pour fermer la div */
  position: absolute;
  right: 0;
  top: 0;
  color: var(--cl-text);
}

.close-icon:hover {
  color: var(--cl-title);
}

@media screen and (max-width: 1050px) {
  nav a span {
    display: none;
  }

  nav a {
    display: flex;
    /* gap: 20px; */
    padding: 5px 8px;
  }

  nav {
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0 0 0;
  }

  .logo {
    margin: 0;
  }
}
