@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-grey: #323232;
    --white: white;
    --main-blue: #0934ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    /* color: var(--white); */
}

header{
    width: 100%;
    min-height: 50px;
    padding: 20px 0 0 50px;
    display: flex;
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: auto;
}

nav a {
    transition: 0.5s;
    border-radius: 30px;
    /* background-color: transparent; */
    transition: background-color 0.5s ease;
    padding: 0 10px;
    font-size: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

nav a:hover{
    background: rgba(255, 255, 255, 0.205);
    color: var(--main-blue);
}

i{
    font-size: 25px;
    padding: 10px;
}
.logo{
    height: 50px;
    margin-right: 50px;
}

body{
    background: var(--main-grey);
}

@media screen and (max-width: 768px){
    nav a span{
        display: none;
    }

    nav a {
        display: flex;
        /* gap: 20px; */
        padding: 5px 8px;
    }

    nav{
        gap: 20px;
    }
}