<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player-hub / Forums</title>
    <link rel="shortcut icon" href="../assets/icons/icone.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/forums.css" />
    <script src="assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo-dark-mini.png" alt="Logo" class="logo" />
      </a>

      <nav class="navbar">
        <a href=""><i class="fa-solid fa-user-group"></i><span>Social</span></a>
        <a href=""
          ><i class="fa-solid fa-bell"></i><span>Notifications</span></a
        >
        <div class="nav-item">
          <a href="#"
            ><i class="fa-solid fa-comments"></i><span>Forums</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="">Call of Duty</a>
            <a href="">Fortnite</a>
            <a href="">Overwatch</a>
            <a href="">EAFC 24</a>
            <a href="#"><span>Tous les Forums</span></a>
          </div>
        </div>
        <a href="../view/messages.html"
          ><i class="fa-solid fa-message"></i><span>Messages</span></a
        >
        <a href="./recherche.html"
          ><i class="fa-solid fa-magnifying-glass"></i><span>Recherche</span></a
        >
        <div class="nav-item">
          <a href=""
            ><i class="fa-solid fa-user"></i><span>Profil</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="">Connexion</a>
            <a href="">Créer un Compte</a>
            <a href="">Réglages</a>
            <a href="">Signets</a>
            <a href="">Déconnexion</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">
    <h1>Forums</h1>

      <section class="cards-container">
        <div class="game-card">
          <img src="../assets/img/cod.avif" alt="Image de Call of Duty" />
          <div class="game-card-container">
            <div class="game-card-title">Call of Duty</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/fortnite.jpg" alt="Fortnite" />
          <div class="game-card-container">
            <div class="game-card-title">Fortnite</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/Overwatch_2.webp" alt="Overwatch" />
          <div class="game-card-container">
            <div class="game-card-title">Overwatch</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/eafc.avif" alt="EAFC 24" />
          <div class="game-card-container">
            <div class="game-card-title">EAFC 24</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/lol.jpeg" alt="League of Legends" />
          <div class="game-card-container">
            <div class="game-card-title">League of Legends</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
