<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forums - Player Hub</title>
    <link rel="shortcut icon" href="../assets/img/logo-white-mini.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/forums.css" />
    <script src="../assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo-dark-mini.png" alt="Logo" class="logo" />
      </a>

      <nav class="navbar">
        <a href="../view/notifications.html" class="nav-link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-bell"
          >
            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9" />
            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0" /></svg
          ><span>Notifications</span></a
        >
        <div class="nav-item">
          <a href="../view/forums.html" class="nav-link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-messages-square"
            >
              <path
                d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2z"
              />
              <path
                d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"
              /></svg
            ><span>Forums</span></a
          >
          <!-- <div class="dropdown-menu">
            <a href="">Call of Duty</a>
            <a href="">Fortnite</a>
            <a href="">Overwatch</a>
            <a href="">EAFC 24</a>
            <a href="./view/forums.html" class="all-forums"
              ><span>Tous les Forums</span></a
            >
          </div> -->
        </div>
        <a href="../view/messages.html" class="nav-link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail"
          >
            <rect width="20" height="16" x="2" y="4" rx="2" />
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7" /></svg
          ><span>Messages</span></a
        >
        <a href="../view/recherche.html" class="nav-link"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" /></svg
          ><span>Explorer</span></a
        >
        <div class="nav-item">
          <a href="../view/profil.html" class="nav-link"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-circle-user-round"
            >
              <path d="M18 20a6 6 0 0 0-12 0" />
              <circle cx="12" cy="10" r="4" />
              <circle cx="12" cy="12" r="10" /></svg
            ><span>Profil</span></a
          >
          <div class="dropdown-menu" id="dropdown-menu-profil">
            <a href="" id="connexion-btn">Connexion</a>
            <a href="">Créer un Compte</a>
            <a href="">Réglages</a>
            <a href="">Signets</a>
            <a href="">Déconnexion</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="container" id="main-content">
      <h1>Forums</h1>

      <section class="cards-container">
        <div class="game-card">
          <img src="../assets/img/cod.avif" alt="Image de Call of Duty" />
          <div class="game-card-container">
            <div class="game-card-title">Call of Duty</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/fortnite.jpg" alt="Fortnite" />
          <div class="game-card-container">
            <div class="game-card-title">Fortnite</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/Overwatch_2.webp" alt="Overwatch" />
          <div class="game-card-container">
            <div class="game-card-title">Overwatch</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/eafc.avif" alt="EAFC 24" />
          <div class="game-card-container">
            <div class="game-card-title">EAFC 24</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
        <div class="game-card">
          <img src="../assets/img/lol.jpeg" alt="League of Legends" />
          <div class="game-card-container">
            <div class="game-card-title">League of Legends</div>
            <a href="lien_vers_forum_du_jeu" class="game-card-button"
              >Explorer le forum</a
            >
          </div>
        </div>
      </section>
    </main>
    <div id="connexion-container" class="connexion-container hidden">
      <h2>Connexion</h2>
      <a href=""><i class="fa-solid fa-xmark close-icon"></i></a>
      <form class="connexion-form">
        <label for="email">Email :</label>
        <input type="text" id="email" placeholder="Votre adresse e-mail" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" placeholder="Votre mot de passe" />

        <input class="btn-submit" type="submit" value="Connectez-vous" />
      </form>
    </div>
  </body>
</html>
