<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player-Hub/Contact</title>
    <link rel="shortcut icon" href="../assets/icons/icone.png" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/messages.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script src="../assets/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo-dark-mini.png" alt="Logo" class="logo" />
      </a>

      <nav class="navbar">
        <a href=""><i class="fa-solid fa-user-group"></i><span>Social</span></a>
        <a href=""
          ><i class="fa-solid fa-bell"></i><span>Notifications</span></a
        >
        <div class="nav-item">
          <a href="./forums.html"
            ><i class="fa-solid fa-comments"></i><span>Forums</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="">Call of Duty</a>
            <a href="">Fortnite</a>
            <a href="">Overwatch</a>
            <a href="">EAFC 24</a>
            <a href=""><span>Tous les Forums</span></a>
          </div>
        </div>
        <a href=""><i class="fa-solid fa-message"></i><span>Messages</span></a>
        <a href="./recherche.html"
          ><i class="fa-solid fa-magnifying-glass"></i><span>Recherche</span></a
        >
        <div class="nav-item">
          <a href=""
            ><i class="fa-solid fa-user"></i><span>Profil</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="">Connexion</a>
            <a href="">Créer un Compte</a>
            <a href="">Réglages</a>
            <a href="">Signets</a>
            <a href="">Déconnexion</a>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <section class="users-container">
        <div class="container-header">
          <h2>Messages</h2>
          <div id="new-message-icon">
            <a href=""><i class="fa-solid fa-envelope-open"></i></a>
          </div>
        </div>
        <div class="search-box">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <input type="text" class="search-input" placeholder="Chercher" />
        </div>

        <div id="user-conv"></div>
        <div id="user-conv"></div>
        <div id="user-conv"></div>
        <div id="user-conv"></div>
        <div id="user-conv"></div>
        <div id="user-conv"></div>
        <div id="user-conv"></div>
      </section>

      <section id="msg-container"></section>
    </div>
  </body>
</html>
