<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player-Hub / Recherche</title>
    <link rel="shortcut icon" href="./assets/icons/icone.png" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/recherche.css" />
    <script src="../assets/js/main.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img src="../assets/img/logo-dark-mini.png" alt="Logo" class="logo" />
      </a>

      <nav class="navbar">
        <a href=""><i class="fa-solid fa-user-group"></i><span>Social</span></a>
        <a href=""
          ><i class="fa-solid fa-bell"></i><span>Notifications</span></a
        >
        <div class="nav-item">
          <a href="../forums.html"
            ><i class="fa-solid fa-comments"></i><span>Forums</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="">Call of Duty</a>
            <a href="">Fortnite</a>
            <a href="">Overwatch</a>
            <a href="">EAFC 24</a>
            <a href="../forums.html"><span>Tous les Forums</span></a>
          </div>
        </div>
        <a href="../messages.html"
          ><i class="fa-solid fa-message"></i><span>Messages</span></a
        >
        <a href="#"
          ><i class="fa-solid fa-magnifying-glass"></i><span>Recherche</span></a
        >
        <div class="nav-item">
          <a href="../view/profil.html"
            ><i class="fa-solid fa-user"></i><span>Profil</span
            ><i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-menu">
            <a href="" id="connexion-btn">Connexion</a>
            <a href="">Créer un Compte</a>
            <a href="">Réglages</a>
            <a href="">Signets</a>
            <a href="">Déconnexion</a>
          </div>
        </div>
      </nav>
    </header>
    <main id="main-content">
      <div class="search-box">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="text" class="search-input" placeholder="Chercher" />
      </div>

      <div class="container">
        <section class="tendances-container">
          <h2>Tendances</h2>
        </section>
        <section class="suggestions-container">
          <h2>Suggestions</h2>
        </section>
      </div>
    </main>
    <div id="connexion-container" class="connexion-container hidden">
      <h2>Connexion</h2>
      <a href=""><i class="fa-solid fa-xmark close-icon"></i></a>
      <form class="connexion-form">
        <label for="email">Email :</label>
        <input type="text" id="email" placeholder="Votre adresse e-mail" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" placeholder="Votre mot de passe" />

        <input class="btn-submit" type="submit" value="Connectez-vous" />
      </form>
    </div>
  </body>
</html>
